[% USE String %]
[% here = String.new(template.name); here = here.lower() %]
[% IF here.search('scrums') %]
<script type="text/JavaScript" src="extensions/Scrums/web/js/jquery/js/jquery-ui-1.8.14.custom.min.js"></script>

<script type="text/JavaScript" src="extensions/Scrums/web/js/jquery.tablesorter-update.js"></script>
<script type="text/javascript" src="extensions/Scrums/web/js/jquery.flot.js"></script>
<script type="text/javascript" src="extensions/Scrums/web/js/jquery.flot.pie.js"></script>
<script type="text/JavaScript" src="extensions/Scrums/web/js/jquery.form.js"></script>

<script type="text/javascript" src="extensions/Scrums/web/js/ListsHtmlTempl.js"></script>
<script type="text/javascript" src="extensions/Scrums/web/js/scrums.js"></script>

<link rel="stylesheet" href="extensions/Scrums/web/js/jquery/css/ui-lightness/jquery-ui-1.8.10.custom.css">

<link rel="stylesheet" href="extensions/Scrums/web/css/scrums.css">
[% END %]
