[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Ultimate Scrum Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Visa Korhonen <visa.korhonen@symbio.com>
  #%]

[%# Note that error messages should generally be indented four spaces, like
  # below, because when Bugzilla translates an error message into plain
  # text, it takes four spaces off the beginning of the lines. 
  #
  # Note also that I prefixed my error name with "scrums", the name of my
  # extension, so that I wouldn't conflict with other error names in
  # Bugzilla or other extensions.
  #%]
[% IF error == "scrums_estimated_time_required" %]
   [% title = "Original estimate required" %]
   You have to specify original estimate while closing task or feature.
[% ELSIF error == "scrums_actual_time_required" %]
   [% title = "Actual estimate required" %]
   You have to specify actual hours worked while closing task or feature.
[% ELSIF error == "team_has_active_sprint" %]
   [% title = "Deleting team is not allowed" %]
   Deleting team is not possible. Team has active sprint.
[% ELSIF error == "team_has_components" %]
   [% title = "Deleting team is not allowed" %]
   Deleting team is not possible. Team has components.
[% ELSIF error == "sprint_has_bugs" %]
   [% title = "Deleting sprint is not allowed" %]
   Deleting sprint is not possible. Sprint has items.
[% ELSIF error == "team_name_not_specified" %]
   [% title = "Team name required" %]
   Created team needs to have name.
[% ELSIF error == "team_name_too_long" %]
   [% title = "Team name too long" %]
   Provided name for team is too long '[% name %]'.
[% ELSIF error == "team_already_exists" %]
   [% title = "Team already exists" %]
   Team '[% name %]' already exists.
[% ELSIF error == "user_already_member_of_team" %]
   [% title = "User already member" %]
   User is already member of team '[% name %]'.
[% ELSIF error == "release_name_too_long" %]
   [% title = "Release name too long" %]
   Provided name for release is too long '[% name %]'.
[% ELSIF error == "release_already_exists" %]
   [% title = "Release already exists" %]
   Release '[% name %]' already exists.
[% END %]
