[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is YOUR NAME
  # Portions created by the Initial Developer are Copyright (C) 2010 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Visa Korhonen <visa.korhonen@symbio.com>
  #%]

[% PROCESS global/header.html.tmpl
    title = "Teams" 
    style_urls = ['skins/standard/admin.css']
%]

<table border=1 cellpadding=4 cellspacing=0>
[% IF teamlist.size > 0 %]
  <tr bgcolor="#6666ff">
    <th>
    [% IF sort == 1 %] 
    <a href="page.cgi?id=allteams.html&sort=2">Name</a>
    <span class="bz_sort_order_primary">&#x25B2;</span>
    [% ELSIF sort == 2 %]
    <a href="page.cgi?id=allteams.html&sort=1">Name</a>
    <span class="bz_sort_order_primary">&#x25BC;</span>
    [% ELSE %]
    <a href="page.cgi?id=allteams.html&sort=1">Name</a>
    [% END %]
    </th>

    <th>
    [% IF sort == 3 %] 
    <a href="page.cgi?id=allteams.html&sort=4">Owner</a>
    <span class="bz_sort_order_primary">&#x25B2;</span>
    [% ELSIF sort == 4 %]
    <a href="page.cgi?id=allteams.html&sort=3">Owner</a>
    <span class="bz_sort_order_primary">&#x25BC;</span>
    [% ELSE %]
    <a href="page.cgi?id=allteams.html&sort=3">Owner</a>
    [% END %]
    </th>

    <th>
    [% IF sort == 5 %] 
    <a href="page.cgi?id=allteams.html&sort=6">Login</a>
    <span class="bz_sort_order_primary">&#x25B2;</span>
    [% ELSIF sort == 6 %]
    <a href="page.cgi?id=allteams.html&sort=5">Login</a>
    <span class="bz_sort_order_primary">&#x25BC;</span>
    [% ELSE %]
    <a href="page.cgi?id=allteams.html&sort=5">Login</a>
    [% END %]
    </th>

  </tr>
[% FOREACH team IN teamlist %]
[% owner = team.owner_user() %]
<tr>
<td>
<a href="page.cgi?id=createteam.html&teamid=[% team.id %]">
[% team.name %]
</a>
</td>
<td>
<a href="page.cgi?id=createteam.html&teamid=[% team.id %]">
[% owner.name %]
</a>
</td>
<td>
<a href="page.cgi?id=createteam.html&teamid=[% team.id %]">
[% owner.login %]
</a>
</td>
</tr>

[% END %]
[% ELSE %]
<tr><td>Zero teams!</td></tr>
[% END %]
</table>

[% class = user.in_group('admin') ? "" : "forbidden" %]
<table><tr><td class="admin_links"> 
<dl><dt class="[%class%]">
<a href="page.cgi?id=newteam.html">Add team</a>
</dt></dl></td></tr></table>
[% PROCESS global/footer.html.tmpl %]
