[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is YOUR NAME
  # Portions created by the Initial Developer are Copyright (C) 2010 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Visa Korhonen <visa.korhonen@symbio.com>
  #%]

[% PROCESS global/header.html.tmpl
    title = "Create new team" 
%]

<script scripttype="text/javascript">
function cancel()
{
	window.location = "page.cgi?id=allteams.html";	
}

function searchuser()
{
	window.open('page.cgi?id=searchperson.html&formname=newteam', '_blanck', 'directories=no,location=no,height=400');
	return false;
}

function checkvalues()
{
	if(window.document.forms['newteam'].elements['name'].value == '')
	{
		alert("Team must have name.");
		return false;
	}
	if(window.document.forms['newteam'].elements['userid'].value == '')
	{
		alert("Team must have owner.");
		return false;
	}
	return true;
}

function askconfirm()
{
	return confirm("Are you sure you want to permanently delete team '[% teamname %]' owner '[% realname %]'\nOperation can not be undone");
}
</script>

<form method="post" name="newteam" action="page.cgi?id=createteam.html">
<input type="hidden" name="teamid" value="[% teamid %]"/>
<input type="hidden" name="editteam" value="[% editteam %]"/>
<input type="hidden" name="userid" value="[% ownerid %]"/>
<table>
  <tr>
	<td><b>Team name:</b></td>
	<td><input type="text" name="name" value="[% teamname %]"></td>
	<td colspan="2">&nbsp</td>
  </tr>
  <tr>
	<td><b>Team owner:</b></td>
	<td>Real name</td>
	<td colspan="2">Login</td>
  </tr>
  <tr>
	<td>&nbsp</td>
	<td><input type="text" name="userrealname" value="[% realname %]" disabled="true"/></td>
	<td><input type="text" name="userlogin"value="[% loginname %]" disabled="true"/></td>
	<td><input type="button" value="Search user" onclick="searchuser()"/>
  </tr>
  <tr>
	<td>&nbsp</td>
	<td colspan="3">
		<input type="button" value="Cancel" onclick="cancel()"/>
		[% submittext = (editteam != "" ? "Save" : "Create") %]
		<input type="submit" value="[% submittext %]" onclick="return checkvalues()"/>
	</td>
  </tr>
  <tr>
	[% IF teamid %]
	<td colspan="4"><a href="page.cgi?id=allteams.html&deleteteam=[% teamid %]" onclick='return askconfirm()'>[delete team]</a></td>
	[% ELSE %]
	<td colspan="4">&nbsp</td>
	[% END %]
  </tr>
</table>
</form>

<p>

