[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is YOUR NAME
  # Portions created by the Initial Developer are Copyright (C) 2010 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Visa Korhonen <visa.korhonen@symbio.com>
  #%]

[% PROCESS global/header.html.tmpl
    title = "User's teams" 
%]

<script scripttype="text/javascript">
function outofteam(teamid, teamname)
{
	if( confirm("Do you want to remove user '[% username %]' from team '"  + teamname + "'?") )
	{
		window.document.forms['teams'].elements['addteam'].value="";
		window.document.forms['teams'].elements['remteam'].value=teamid;
		window.document.forms['teams'].submit();
	}
	return false;
}
</script>

<table>
<tr>
<td>
<b>User:</b>
</td>
<td>
<b>[% username %]&nbsp &lt [% userlogin %] &gt</b>
</td></tr>
<tr><td>
<b>Member in teams:</b>
</td>
<td>
[% IF userteamlist.size > 0 %]
<table>
  <tr>
    <th>Team</th>
    <th>Owner</th>
    <th>Login</th>
  </tr>
[% FOREACH team IN userteamlist %]

<tr>
<td>
<a href="page.cgi?id=createteam.html&teamid=[% team.id %]">
[% team.name() %]
</a>
</td>
<td>
<a href="page.cgi?id=createteam.html&teamid=[% team.id %]">
[% team.owner_user().name() %]
</a>
</td>
<td>
<a href="page.cgi?id=createteam.html&teamid=[% team.id %]">
[% team.owner_user().login() %]
</a>
</td>
<td>
[% IF user.in_group('editteams') %]
<a href="" onclick="return outofteam([% team.id %], '[% team.name %]');">
[delete]
</a>
[% ELSE %]
&nbsp
[% END %]
</td>
</tr>

[% END %]
</table>
[% ELSE %]
User is not member of any team.
[% END %]
</td></tr>
</table>

<p>
[% IF user.in_group('editteams') %]
<form name="teams" action="page.cgi?" method="GET">
<input type="hidden" name="id" value="userteams.html"/>
<input type="hidden" name="userid" value="[% userid %]"/>
<input type="hidden" name="username" value="[% username %]"/>
<input type="hidden" name="userlogin" value="[% userlogin %]"/>
<input type="hidden" name="remteam" value=""/>
Add user into team: <select name="addteam">
[% FOREACH team IN allteams %]
<option value="[% team.id %]">[% team.name %]</option>
[% END %]
</select>
&nbsp&nbsp
<input type="submit" value="Add membership"/>
</form>
[% END %]
</p>

<a href="page.cgi?id=allteams.html">teams main page</a><br>

<br>
[% PROCESS global/footer.html.tmpl %]
