[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Ultimate Scrum Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Visa Korhonen <visa.korhonen@symbio.com>
  #%]

[% PROCESS global/header.html.tmpl
    title = "Team" 
%]

<script scripttype="text/javascript">
function cancel()
{
	window.location="page.cgi?id=createteam.html&teamid=[% teamid %]";
}
</script>

<br>

[% IF error %]
<p>
Error msg: [% error %]
</p>
<p>
<a href="page.cgi?id=createteam.html&teamid=[% teamid %]">[back]</a>
</p>
[% ELSE %]

Do you want to add user <b>[% userrealname %] &lt [% userlogin %] &gt</b> into team <b>[% teamname %]</b>?

<form method="post" action="page.cgi">
<input type="hidden" name="id" value="createteam.html"/>
<input type="hidden" name="addintoteam" value="true"/>
<input type="hidden" name="userid" value="[% userid %]"/>
<input type="hidden" name="teamid" value="[% teamid %]"/>
<input type="button" value="Cancel" onClick="cancel()"/>
<input type="submit" value="Ok"/>
</form>

<a href="page.cgi?id=allteams.html">teams main page</a>
[% END %]



