[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #  Eero Heino <eero.heino@nokia.com>
  #%]

[% PROCESS global/header.html.tmpl
    title = "Bugs in team" 
    style_urls = ['skins/standard/admin.css']
%]


[% PROCESS global/lists.html.tmpl %]


<script>

var unordered_bugs = new listObject("sortable2", "headers2", '-1', 'Unordered Bugs');
var backlog = new listObject("sortable", "headers", "[% backlog.sprint.id() %]", 'Backlog');

var all_lists = [];

function save_all()
{
    //$("#save").attr('disabled', 'disabled');
    function call_back()
    {
    //    $("#save").removeAttr('disabled');
    }
    save_lists([backlog], unordered_bugs, 'backlog', [% team.id %], call_back);
}

// data from backend
var unordered_list_data = [[% FOREACH bug IN unprioritised_items %][[% bug.0 %],"[% bug.1 %]","[% bug.2 %]","[% bug.3 | replace( '"', '\"' ) %]",[% bug.4 %]],[% END %]];
//var sprint_list_data = {[% FOREACH team_sprint IN team_sprints_array %] [% team_sprint.sprint.id() %]: ["[% team_sprint.sprint.name() %]",[[% FOREACH bug IN team_sprint.bugs %][[% bug.0 %],"[% bug.1 %]","[% bug.2 %]", "[% bug.3 | replace( '"', '\"' ) %]"],[% END %]], "[% team_sprint.sprint.status() %]", "[% team_sprint.sprint.nominal_schedule() %]", "[% team_sprint.sprint.description() | replace( '"', '\"' ) %]"],[% END %]};

var backlog_bugs = [[% FOREACH bug IN backlog.bugs %][[% bug.0 %],"[% bug.1 %]","[% bug.2 %]", "[% bug.3 | replace( '"', '\"' ) %]",[% bug.4 %]],[% END %]];


var sprint_lists = [];
$(document).ready(function() {

    var html = '';

    $('#sprints').html(parseTemplate($('#ListTmpl').html(), { list: backlog, extra_middle: '' }));
    update_lists(backlog, 0, backlog_bugs);
    //all_lists = $.extend(true, [], sprint_lists);
    all_lists.push(backlog);

    $('#unordered').html(parseTemplate($('#ListTmpl').html(), { list: unordered_bugs, extra_middle: '' }));
    update_lists(unordered_bugs, 0, unordered_list_data);
    //all_lists = $.extend(true, [], sprint_lists);
    all_lists.push(unordered_bugs);

    bind_sortable_lists(all_lists);


});


</script>
<!--
        <select onChange='offset_step = parseInt($(this).val()); update_lists(ordered_bugs); update_lists(unordered_bugs);'> -->

  <div class="bz_title_container">
      Team '[% team.name %]' backlog
  </div>

<input id='save' type='button' value='save' OnClick='save_all();'/> 

<table>
    <tr>
        <td valign='top' id='sprints'>
        </td>
        <td valign='top' id='unordered'>
        </td>
    </tr>
</table>
<br>
<a href="page.cgi?id=createteam.html&teamid=[% team.id %]">back to team</a><br>
<hr>
<a href="page.cgi?id=scrums/scrumsguide.html#teamplanning">Scrums user's guide</a>. 
[% PROCESS global/footer.html.tmpl %]
