[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #  Eero Heino <eero.heino@nokia.com>
  #%]
[% PROCESS global/header.html.tmpl
    title = "Backlog " _ team.name
    style_urls = ['skins/standard/admin.css']
%]

[% PROCESS global/lists.html.tmpl %]

<script type="text/javascript">
  var unordered_items_search_url = "buglist.cgi?query_format=advanced&";
  unordered_items_search_url += "columnlist=bug_severity%2Cpriority%2Cassigned_to%2Cbug_status%2Cshort_desc%2Cestimated_time%2Cactual_time%2Cremaining_time%2Cscrums_team_order%2Cscrums_blocked%2Csprint_name&";
  unordered_items_search_url += "[% FOREACH status IN bug_status_open %]bug_status=[% status %]&[% END %]";
  unordered_items_search_url += "[% FOREACH class IN classifications %]classification=[% class %]&[% END %]";
  unordered_items_search_url += "[% FOREACH product IN products %]product=[% product %]&[% END %]";
  unordered_items_search_url += "[% FOREACH component IN components %]component=[% component %]&[% END %]";

  var unordered_bugs = new listObject("sortable2", "headers2", '-1', 'Unprioritized', null, unordered_items_search_url);
  unordered_bugs.show_columns.push('creation_date')
  unordered_bugs.show_columns.splice( $.inArray('order', unordered_bugs.show_columns), 1 );

  var backlog_search_url = search_link_sprint_items([% backlog.sprint.id() %]);
  var backlog = new listObject("sortable", "headers", "[% backlog.sprint.id() %]", 'Backlog', null, backlog_search_url);
  backlog.show_columns.push('creation_date')

  var sprint = new listObject("sortable", "headers", "[% active_sprint.id() %]", 'Sprint [% active_sprint.name() %]');

  // *** Global variables ***
  schema = 'team';
  object_id = [% team.id %];

  var all_lists = [];

  var bug_positions = [];

  function save_all()
  {
      var saved_lists = [];
      saved_lists.push(sprint);		// Idle list
      saved_lists.push(all_lists[0]);
      saved_lists.push(all_lists[1]);
      do_save(saved_lists);
  }

  [% PROCESS 'global/lists_unordered.js.tmpl' %]
  // data from backend

  [% PROCESS 'global/lists_backlog.js.tmpl' %]

 var sprint_bugs = [[% FOREACH bug IN active_sprint.get_bugs() %] [% bugid = bug.0 %]
 [[[% bug.0 %],"[% "${bugid}" FILTER bug_link(bugid) FILTER none | replace( '"', '\'' ) %]"], [% bug.1 %], "[% bug.2 %]", "[% bug.3 %]", "[% bug.4 | replace( '"', '\"' ) %][% IF (bug.5.length > 40) %]...[% END %]", "[% bug.5 | replace( '"', '\'' ) %]", "", "", [% bug.10 %], [% bug.11 %], 0],[% END %]];

  $(document).ready(function() {
    var html = '';

    bind_items_to_list(sprint, sprint_bugs);

    $('#sprints').html(parseTemplate($('#ListTmpl').html(), { list: backlog, extra_middle: '' }));
    bind_items_to_list(backlog, backlog_bugs);
    update_lists(backlog, 0);
    all_lists.push(backlog);

    $('#unordered').html(parseTemplate($('#ListTmpl').html(), { list: unordered_bugs, extra_middle: '' }));
    bind_items_to_list(unordered_bugs, unordered_list_data);
    update_lists(unordered_bugs, 0);
    all_lists.push(unordered_bugs);

    bind_sortable_lists(all_lists);
  });
</script>

<div class="bz_title_container">
  [% team.name %] Product Backlog
</div>

[% PROCESS pages/scrums/navi.html.tmpl %]

<table>
  <tr>
    <td valign="top" id="sprints" width="50%">
    </td>
    <td valign="top" id="unordered" width="50%">
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <input type='button' class='toggle_scroll' value='Toggle Scroll Bars' onClick="toggle_scroll();" />
    </td>
  </tr>
</table>

<hr />

<p>
  <a href="page.cgi?id=scrums/createteam.html&teamid=[% team.id %]">Manage Team</a>
</p>

[% PROCESS global/footer.html.tmpl %]
