[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Visa Korhonen <visa.korhonen@symbio.com>
  #%]
[% title = "Team " _ team.name %]
[% PROCESS global/header.html.tmpl
    title = title 
%]

<style type="text/css">
  <!--
  table.main th {
    text-align: right;
    min-width: 200px;
    white-space: nowrap;
  }

  #t
  {
    border-color: magenta;
  }

  #d
  {
    border-color: chartreuse;
  }

  #r
  {
    border-color: yellow;
  }

  #b
  {
    border-color: aquamarine;
  }

  #u
  {
    border-color: royalblue;
  }

  -->
</style>

<script scripttype="text/javascript">
  function searchperson()
  {
    window.open('page.cgi?id=scrums/searchperson.html&formname=addmember&formfieldprefix=user&submit=true', '_blanck', 'directories=no,location=no,height=400');
    return false;
  }

  function member_removal(user, team)
  {
    return confirm("Do you want to remove user " + user + " from team " + team + "?");
  }

  function removal(component, product, team)
  {
    return confirm("Do you want to remove component " + component + " (" + product + ")" + " from team " + team + "?");
  }
</script>

[% IF error %]
  Error message: [% error %]
[% ELSE %]
  [% IF teamisnew %]
    Team created!
  [% END %]

    <h1>Team: [% team.name %]</h1>
    [% owner = team.owner_user() %]
    [% scrum_master = team.scrum_master_user() %]
    <dl>
        <dt>Product Owner:</dt>
        <dd>[% owner.name() %]</dd>
        <dt>Scrum Master:</dt>
        <dd>[% scrum_master.name() %]</dd>
        <dt>Weekly Velocity:</dt>
        <dd>[% team.weekly_velocity_value %] | [% team.weekly_velocity_start %] | [% team.weekly_velocity_end %]</dd>
    </dl>

    [% IF active_sprint %]
    <h2>Current Sprint: [% active_sprint.name %]</h2>
    <ul>
        <li class="scrums-remaining-items">
            <a href="buglist.cgi?columnlist=sprint_name%2Cscrums_team_order%2Cbug_severity%2Cpriority%2Cassigned_to%2Cbug_status%2Cresolution%2Cshort_desc%2Cestimated_time%2Cactual_time%2Cremaining_time&bug_status=UNCONFIRMED&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&bug_status=WAITING&bug_status=NEED_INFO&query_format=advanced&scrums_sprint_bug_map.sprint_id=[% active_sprint_id %]&order=scrums_team_order%2Cbug_severity&daily">
                Remaining Items
            </a>
        </li>
        <li class="scrums-finished-items">
            <a href="buglist.cgi?columnlist=sprint_name%2Cscrums_team_order%2Cbug_severity%2Cpriority%2Cassigned_to%2Cbug_status%2Cresolution%2Cshort_desc%2Cestimated_time%2Cactual_time%2Cremaining_time&bug_status=RESOLVED&bug_status=VERIFIED&bug_status=CLOSED&query_format=advanced&scrums_sprint_bug_map.sprint_id=[% active_sprint_id %]&order=scrums_team_order%2Cbug_severity&daily">
                Finished Items
            </a>
        </li>
        <li class="scrums-all-items">
            <a href="buglist.cgi?columnlist=sprint_name%2Cscrums_team_order%2Cbug_severity%2Cpriority%2Cassigned_to%2Cbug_status%2Cresolution%2Cshort_desc%2Cestimated_time%2Cactual_time%2Cremaining_time&query_format=advanced&scrums_sprint_bug_map.sprint_id=[% active_sprint_id %]&order=scrums_team_order%2Cbug_severity&daily">
                All Items
            </a>
        </li>
    </ul>
    <ul>
        <li class="scrums-team-burndown">
            <a href="page.cgi?id=scrums/sprintburndown.html&sprintid=[% active_sprint_id %]">
                Team Burndown Chart
            </a>
        </li>
    </ul>
    [% END %]

    <h2>Planning</h2>
    <ul>
        <li class="scrums-sprint-planing">
            <a href="page.cgi?id=scrums/teambugs.html&teamid=[% team.id %]">
                Sprint Planning
            </a>
        </li>
    [% IF team.is_using_backlog() %]
        <li class="scrums-product-backlog">
            <a href="page.cgi?id=scrums/backlogplanning.html&teamid=[% team.id %]">
                Product Backlog
            </a>
        </li>
        <li class="scrums-unprioritized-items">
            <a href="page.cgi?id=scrums/dailysprint.html&teamid=[% team.id %]">
                Unprioritized Items
            </a>
        </li>
    [% END %]
        <li class="scrums-archived-sprints">
            <a href="page.cgi?id=scrums/archivedsprints.html&teamid=[% team.id %]">
                Archived Sprints
            </a>
        </li>
    </ul>

  <h2>Responsibilities</h2>

  [% components = team.components() %]

  [% IF components.size() > 0 %]
    <table>
      <tr>
        <th>Product</th>
        <th>Component</th>
        [% IF user.in_group('scrums_editteams') %]
          <th>Action</th>
        [% END %]
      </tr>

      [% FOREACH subcomponent IN components %]
        <tr>
          <td>[% subcomponent.product().name() %]</td>
          <td>[% subcomponent.name() %]</td>
          [% IF user.in_group('scrums_editteams') %]
            <td>
              <a href="page.cgi?id=scrums/createteam.html&teamid=[% team.id() %]&removedcomponent=[% subcomponent.id %]" onclick="return removal('[% subcomponent.name() %]', '[% subcomponent.product().name() %]', '[% team.name() %]');">Remove</a>
            </td>
          [% END %]
        </tr>
      [% END %]
    </table>
  [% ELSE %]
    <p>
      Not responsible for any components.
    </p>
  [% END %]

  <h2>Members</h2>

  [% members = team.members() %]

  [% IF members.size() > 0 %]
    <table>
      <tr>
        <th>Username</th>
        [% IF user.in_group('scrums_editteams') %]
          <th>Action</th>
        [% END %]
      </tr>

      [% FOREACH member IN members %]
        <tr>
          <td>
            [% member.name() %]
          </td>
          [% IF user.in_group('scrums_editteams') %]
            <td>
              <a href="page.cgi?id=scrums/createteam.html&userid=[% member.id() %]&teamid=[% team.id() %]&username=[% member.name() %]&userlogin=[% member.login() %]"
                  onclick="return member_removal('[% member.name() %]', '[% team.name() %]');">Remove</a>
            </td>
          [% END %]
        </tr>
      [% END %]
    </table>
  [% ELSE %]
    <p>
      This team has no members.
    </p>
  [% END %]

  <form name="addmember" method="post" action="page.cgi" onsubmit="alert('submit');">
    <input type="hidden" name="id" value="scrums/createteam.html"/>
    <input type="hidden" name="teamid" value="[% team.id %]"/>
    <input type="hidden" name="userid" />
    <input type="hidden" name="userrealname" /> <!-- Field is not used. It exists because of compatibility -->
    <input type="hidden" name="userlogin" />    <!-- Field is not used. It exists because of compatibility -->
    <input type="hidden" name="addintoteam" value="true"/>
 </form>

  <hr />

  [% IF user.in_group('scrums_editteams') %]
    <p>
        <a href="page.cgi?id=scrums/newteam.html&editteam='true'&teamid=[% team.id %]&realname=[% owner.name() %]&loginname=[% owner.login() %]&scrummasterrealname=[% scrum_master.name() %]&scrummasterloginname=[% scrum_master.login() %]">Edit Team</a>
      | <a href="page.cgi?id=scrums/choose-classification.html&teamid=[% team.id %]">Add Responsibility</a>
      | <a href="" onclick="return searchperson();">Add Team Member</a>
    </p>
  [% END %]
[% END %]

<hr />

<p>
  <a href="page.cgi?id=scrums/scrums.html">Scrums home</a>
| <a href="page.cgi?id=scrums/allteams.html">Manage Teams</a>
| <a href="page.cgi?id=scrums/allreleases.html">Manage Releases</a>
| <a href="page.cgi?id=scrums/guide/scrumsguide.html#teamviewpoint">User Guide</a>
</p>

[% PROCESS global/footer.html.tmpl %]
