[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #  Eero Heino <eero.heino@nokia.com>
  #%]
[% PROCESS global/header.html.tmpl
    title = "Team New Bugs" 
    style_urls = ['skins/standard/admin.css']
%]

[% PROCESS pages/scrums/listcolumns.html.tmpl %]

<script type="text/javascript">

  var unordered_bugs_search_url = "buglist.cgi?query_format=advanced&";
  unordered_bugs_search_url += "columnlist=bug_severity%2Cpriority%2Cassigned_to%2Cbug_status%2Cshort_desc%2Cestimated_time%2C";
  unordered_bugs_search_url += "actual_time%2Cremaining_time%2Cscrums_team_order%2Cscrums_blocked%2Csprint_name&";
  unordered_bugs_search_url += "bug_severity=blocker&bug_severity=critical&bug_severity=major&bug_severity=normal&bug_severity=minor&bug_severity=risk&";
  unordered_bugs_search_url += "[% FOREACH status IN bug_status_open %]bug_status=[% status %]&[% END %]";
  unordered_bugs_search_url += "[% FOREACH class IN classifications %]classification=[% class %]&[% END %]";
  unordered_bugs_search_url += "[% FOREACH product IN products %]product=[% product %]&[% END %]";
  unordered_bugs_search_url += "[% FOREACH component IN components %]component=[% component %]&[% END %]";

  var sprint_search_url = search_link_sprint_items([% active_sprint.id() %]);
  var sprint = new listObject("sortable", "headers", "[% active_sprint.id() %]", 'Sprint [% active_sprint.name() %]', create_item_line_html, sprint_search_url);
  var backlog = new listObject("sortableX", "headersX", "[% backlog.sprint.id() %]", 'Backlog'); // Idle list
  var unordered_bugs = new listObject("sortable2", "headers2", '-1', 'Unprioritized bugs', create_item_line_html, unordered_bugs_search_url);

  unordered_bugs.show_columns.push('creation_date');
  unordered_bugs.show_columns.splice( $.inArray('order', unordered_bugs.show_columns), 1 );

  // *** Global variables ***
  schema = 'team';
  object_id = [% team.id %];

  var all_lists = [];
  var bug_positions = [];

  var sprint_rendered = false;
  var backlog_received = false;
  var unordered_items_rendered = false;

  function save_all()
  {
      var saved_lists = [];
      saved_lists.push(all_lists[0]);
      saved_lists.push(backlog);	// Idle list
      saved_lists.push(all_lists[1]);
      do_save(saved_lists);
  }

  $(document).ready(function() {
    var html = '';

    sprint_rendered = false;
    backlog_received = false;
    unordered_items_rendered = false;

    all_lists = [];
    all_lists.push(sprint);
    all_lists.push(unordered_bugs);

    if([% active_sprint.id() %])
    {
        $.post('page.cgi?id=scrums/ajaxbuglist.html', {
            sprint_id: [% active_sprint.id() %]
        }, renderSprint, 'json');
    }

    $.post('page.cgi?id=scrums/ajaxbuglist.html', {
        sprint_id: [% backlog_id %]
    }, receiveBacklog, 'json');

    $.post('page.cgi?id=scrums/ajaxbuglist.html', {
	action: "unprioritised_bugs",
        team_id: [% team.id() %]
    }, renderItems, 'json');

    $(window).unload(
    	function() 
    	{
	    detect_unsaved_change(); 
        } 
    );
  });

function renderSprint(result)
{
    data = result.data;
    var sprint_bugs = data.bugs;

    bind_items_to_list(sprint, sprint_bugs);
    var	html = create_list_html(sprint);
    $('#sprint').html(html);

    update_lists(sprint, 0);
    sprint_rendered = true;
    check_receive_status();
}

function receiveBacklog(result)
{
    data = result.data;
    var backlog_bugs = data.bugs;

    bind_items_to_list(backlog, backlog_bugs);
    backlog_received = true;
    check_receive_status();
}

function renderItems(result)
{
    data = result.data;
    var unprioritised_items = data.bugs;

    bind_items_to_list(unordered_bugs, unprioritised_items);

    var html = create_list_html(unordered_bugs);
    $('#unordered').html(html);

    update_lists(unordered_bugs, 0);
    unordered_items_rendered = true;
    check_receive_status();
}

function check_receive_status()
{
    if(unordered_items_rendered && sprint_rendered && backlog_received)
    {
	after_rendering();
    }
}

function after_rendering()
{
    bind_sortable_lists(all_lists);
}
</script>

<div class="bz_title_container">
  '[% team.name %]' New Bugs
</div>

[% PROCESS pages/scrums/navi.html.tmpl %]

<table>
  <tr>
    <td valign="top" id="sprint" width="50%">
    </td>
    <td valign="top" id="unordered" width="50%">
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <input type="button" class="scrums_wide_button" id="save_button" disabled="true" value="Save" onClick="save_all();" />
      <input type="button" class="toggle_scroll" value="Toggle Scroll Bars" onClick="toggle_scroll();" />
    </td>
  </tr>
</table>

<p>
  <a href="page.cgi?id=scrums/createteam.html&teamid=[% team.id %]">Manage Team</a>
</p>

[% PROCESS global/footer.html.tmpl %]
