[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #  Eero Heino <eero.heino@nokia.com>
  #%]
[% PROCESS global/header.html.tmpl
    title = "Team New Bugs" 
    style_urls = ['skins/standard/admin.css']
%]

[% PROCESS global/lists.html.tmpl %]

<script type="text/javascript">
  var unordered_bugs = null;

  unordered_bugs = new listObject("sortable2", "headers2", '-1', 'Unprioritized bugs');
  unordered_bugs.show_columns.push('creation_date')
  unordered_bugs.show_columns.splice( $.inArray('order', unordered_bugs.show_columns), 1 );

  var all_lists = [];
  var bug_positions = [];

  function save_all()
  {
    save_lists(sprint_lists, unordered_bugs, 'team', [% team.id %]);
  }

  [% PROCESS 'global/lists_unordered.js.tmpl' unprioritised_items = unprioritised_bugs %]
  // data from backend
  var sprint_list_data = 
  {[% FOREACH team_sprint IN team_sprints_array %]
  
      [% team_sprint.sprint.id() %]: ["[% team_sprint.sprint.name() %]",
                                      [[% FOREACH bug IN team_sprint.bugs %]
                                       [% bugid = bug.0 %]
                                       [% PROCESS 'global/lists_bug.js.tmpl' bug = bug bugid = bugid %]
                                      [% END %]],
                                      "[% team_sprint.sprint.status() %]",
                                      "[% team_sprint.sprint.nominal_schedule() %]",
                                      "[% team_sprint.sprint.description() | replace( '"', '\"' ) %]"],
  [% END %]};

  var sprint_lists = [];

  $(document).ready(function() {
    var html = '';

    for (id in sprint_list_data)
    {
      // last argument is the name
      var list = new listObject('sprint_list_' + id, 'sprint_header_' + id, id, sprint_list_data[id][0]);
      // last argument is the bug list
      // extra stuff for sprint
      list._status = sprint_list_data[id][2]
      list.nominal_schedule = sprint_list_data[id][3]
      list.description = sprint_list_data[id][4]

      html = parseTemplate($('#ListTmpl').html(), { list: list, extra_middle: '' });
      $(html).appendTo($('#sprints'));
      update_lists(list, 0, sprint_list_data[id][1]);

      // expand collapse
      //$("#"+list.ul_id).hide();
      //toggle the componenet with class msg_body
      var ul_id = list.ul_id;
      $("#" + list.h_id).click(function()
      {
          $(this).nextAll(".content:first").slideToggle(500);
      });

      sprint_lists.push(list);
    }

    //$('#sprints').html(html);
    $('#unordered').html(parseTemplate($('#ListTmpl').html(), { list: unordered_bugs, extra_middle: '' }));
    update_lists(unordered_bugs, 0, unordered_list_data);
    all_lists = $.extend(true, [], sprint_lists);
    all_lists.push(unordered_bugs);
    bind_sortable_lists(all_lists);
  });
</script>

<div class="bz_title_container">
  '[% team.name %]' New Bugs
</div>

<table>
  <tr>
    <td valign="top" id="sprints" width="50%">
    </td>
    <td valign="top" id="unordered" width="50%">
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <input type="button" class="toggle_scroll" value="Toggle Scroll Bars" onClick="toggle_scroll();" />
      <input type="button" value="Save" OnClick="save_all();" />
    </td>
  </tr>
</table>

<p>
  <a href="page.cgi?id=scrums/createteam.html&teamid=[% team.id %]">Manage Team</a>
</p>

[% PROCESS global/footer.html.tmpl %]
