[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Visa Korhonen <visa.korhonen@symbio.com>
  #%]

[% PROCESS global/header.html.tmpl
    title = "Create New Release" 
%]

<script scripttype="text/javascript">
  function cancel()
  {
    window.history.back();        
  }

  function checkvalues()
  {
    if(window.document.forms['newrelease'].elements['name'].value == '')
    {
      alert("Release must have name.");
      return false;
    }

    return true;
  }

  function askconfirm()
  {
    return confirm("Are you sure you want to delete release '[% releasename %]'?");
  }
</script>

[% IF releaseid %]
  <h1>Edit Release</h1>
[% ELSE %]
  <h1>Create Release</h1>
[% END %]

<form method="post" name="newrelease" action="page.cgi?id=scrums/createrelease.html">
  <input type="hidden" name="releaseid" value="[% releaseid %]"/>
  <input type="hidden" name="editrelease" value="[% editrelease %]"/>
  <input type="hidden" name="userid" value="[% ownerid %]"/>

  <table>
    <tr>
      <td><b>Release Name:</b></td>
      <td><input type="text" name="releasename" value="[% releasename %]"></td>
    </tr>
    <tr>
      <td><b>Target Milestone:</b></td>
      <td>
        <input type="text" name="mr_begin" value="[% mr_begin %]"/> - <input type="text" name="mr_end" value="[% mr_end %]"/>
      </td>
    </tr>
    <tr>
      <td><b>Capacity Algorithm:</b></td>
      <td><input type="text" name="algorithm" value="[% algorithm %]" disabled="disabled"></td>
    </tr>
    <tr>
      <td><b>Original Capacity:</b></td>
      <td><input type="text" name="original" value="[% original %]" disabled="disabled"></td>
    </tr>
    <tr>
      <td><b>Remaining Capacity:</b></td>
      <td><input type="text" name="remaining" value="[% remaining %]" disabled="disabled"></td>
    </tr>
    <tr>
      <td colspan="4" align="right">
        <input type="button" value="Cancel" onclick="cancel()" />
        [% submittext = (editrelease != "" ? "Save" : "Create") %]
        <input type="submit" value="[% submittext %]" onclick="return checkvalues()" />
      </td>
    </tr>
  </table>
</form>

[% IF releaseid %]
  <p>
    <a href="page.cgi?id=scrums/allreleases.html&deleterelease=[% releaseid %]" onclick='return askconfirm()'>Delete Release</a>
  </p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
