[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Visa Korhonen <visa.korhonen@symbio.com>
  #%]
[% PROCESS "header-additional_header.html.tmpl" %]

[% PROCESS global/header.html.tmpl
    title = "Create new sprint" 
%]

<script scripttype="text/javascript">
  $(function () {
      init();
  });

  var range_begin = "";
  var range_end = "";
  var nominal_date = "";

  function init()
  {
    $("#datepicker_min").datepicker({ dateFormat: 'yy-mm-dd' });
    $("#datepicker_max").datepicker({ dateFormat: 'yy-mm-dd' });
    $("#datepicker_nominal").datepicker({ dateFormat: 'yy-mm-dd' });
  }

  function gettime() 
  {
    range_begin = $('#datepicker_min').val();
    range_end = $('#datepicker_max').val();
    nominal_date = $('#datepicker_nominal').val();
  }

  function archive()
  {
    gettime();
    if(range_end == "")
    {
        alert("End date is empty. Archived sprint must be stopped before archiving.");
        return false;
    }
    if(range_begin == "")
    {
        alert("Sprint start date is empty");
        return false;
    }

    return confirm("Are you sure you want to archive sprint '[% sprintname %]'?");
  }

  function cancel()
  {
    window.location = "page.cgi?id=scrums/teambugs.html&teamid=[% teamid %]";  
  }

  function checkvalues()
  {
    gettime();

    var sprintname = window.document.forms['newsprint'].elements['sprintname'].value;

    if(sprintname == '')
    {
      alert("Sprint must have name.");
      return false;
    }

    if(sprintname.match(/^\S/) == null)
    {
      alert("Sprint name can not start with whitespace");
      return false;
    }

    if(nominal_date == "")
    {
      alert("Sprint must have nominal schedule.");
      return false;
    }

    var estimatedcapacity = window.document.forms['newsprint'].elements['estimatedcapacity'].value;
    if(estimatedcapacity != '' && estimatedcapacity.match(/^\d+(.\d*)*/) == null)
    {
      alert("Estimated capacity is illegal.");
      return false;
    }

    return true;
  }

  function askconfirm()
  {
    return confirm("Are you sure you want to delete sprint '[% sprintname %]'?");
  }
</script>

<form method="post" name="newsprint" action="page.cgi">
  <input type="hidden" name="id" value="scrums/teambugs.html" />
  <input type="hidden" name="teamid" value="[% teamid %]" />
  <input type="hidden" name="sprintid" value="[% sprintid %]" />

  [% IF editsprint %]
    <input type="hidden" name="editsprint" value="true" />
  [% ELSE %]
    <input type="hidden" name="newsprint" value="true" />
  [% END %]

  <table>
    <tr>
      <th>Sprint Name:</th>
      <td colspan="2"><input type="text" name="sprintname" value="[% sprintname %]"></td>
    </tr>
    <tr>
      <th>Nominal Schedule:</th>
      <td><input onchange="gettime();" type="text" value="[% nominalschedule %]" name="nominalschedule" id="datepicker_nominal" size="08"></td>
    </tr>
    <tr>
      <th>Description:</th>
      <td colspan="2"><input size="40" type="text" name="description" value="[% description %]"></td>
    </tr>
    <tr>
      <th>Actual Duration:</th>
      <td colspan=3">
         <input onchange="gettime();" type="text" value="[% start_date %]" name="start_date" id="datepicker_min" size="08">-
         <input onchange="gettime();" type="text" value="[% end_date %]" name="end_date" id="datepicker_max" size="08">
      </td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th colspan="2">Capacity</th>
    </tr>
    <tr>
      <th>Estimated persons:</th>
      <td colspan="2">[% personcapacity %]</td>
    </tr>
    <tr>
      <th>Estimated total work:</th>
      <td colspan="2"><input type="text" name="estimatedcapacity" value="[% estimatedcapacity %]"></td>
    </tr>
    <tr>
      <th>
      Predictive estimate: 
      </th>
      <td>
        Total work [% prediction %]
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;
      </td>
      <td>
        [% IF history %]
          <table>
            [% FOREACH sprint IN history %] 
              <tr>
                <td>
                  [% sprint.0 %]: 
                </td>
                <td style="min-width: 110px;">
                  Total work [% sprint.1 %]
                </td>
                <td>
                  Total persons [% sprint.2 %]
                </td>
              </tr>
            [% END %]
          </table>
        [% END %]
      </td>
    </tr>
    <tr><td colspan="4"></td></tr>
    <tr>
      <td colspan="4" align="right">
        [% submittext = (editsprint != "" ? "Save" : "Create") %]

        <input type="button" value="Cancel" onclick="cancel()"/>
        <input type="submit" value="[% submittext %]" onclick="return checkvalues()"/>
      </td>
    </tr>
  </table>
</form>

[% IF editsprint %]
  <a href="page.cgi?id=scrums/teambugs.html&teamid=[% teamid %]&archivesprint=[% sprintid %]" onclick='return archive();'>Archive Sprint</a>
[% END %]

[% IF sprintid %]
  [% IF editsprint %]
    |
  [% END %]
  <a href="page.cgi?id=scrums/teambugs.html&teamid=[% teamid %]&deletesprint=[% sprintid %]" onclick='return askconfirm()'>Delete Sprint</a>
[% END %]

[% PROCESS global/footer.html.tmpl %]
