[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Ultimate Scrum Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Visa Korhonen <visa.korhonen@symbio.com>
  #%]

[% PROCESS global/header.html.tmpl
    title = "Items in release" 
    style_urls = ['skins/standard/admin.css']
%]

[% PROCESS global/lists.html.tmpl %]

<script>

var ordered_bugs = new listObject("sortable1", "headers", '0', 'Item Order', $("#ReleaseBugLiTmpl"));
var unordered_bugs = new listObject("sortable2", "headers2", '-1', 'Unordered Items', $("#ReleaseBugLiTmpl"));

var ordered_list_data = [[% FOREACH bug IN scheduled_bugs %][[% bug.0 %],"[% bug.1 %]","[% bug.2 %]","[% bug.3 | replace( '"', '\"' ) %]", "[% bug.4 %]", "[% bug.5 %]"], [% END %]];
var unordered_list_data = [[% FOREACH bug IN unprioritised_bugs %][[% bug.0 %],"[% bug.1 %]","[% bug.2 %]","[% bug.3 | replace( '"', '\"' ) %]", "[% bug.4 %]", "[% bug.5 %]"], [% END %]];

function save_all()
{
    //save([ordered_bugs], 'release', [% release.id %]);
    save_lists([ordered_bugs], unordered_bugs, 'release', [% release.id %]);
}


var all_lists = [];

$(document).ready(function() {
    $('#left').html(html = parseTemplate($('#ListTmpl').html(), { list: ordered_bugs, extra_middle: '' }));
    $('#right').html(html = parseTemplate($('#ListTmpl').html(), { list: unordered_bugs, extra_middle: '' }));
    update_lists(unordered_bugs, 0, unordered_list_data);
    update_lists(ordered_bugs, 0, ordered_list_data);
    all_lists.push(unordered_bugs);
    all_lists.push(ordered_bugs);
    bind_sortable_lists(all_lists);
});


</script>

  <div class="bz_title_container">
  Release '[% release.name %]' items
  </div>

<input type='button' value='save' OnClick='save_all();'/> 

<table>
    <tr>
        <td valign='top' id='left'>
        </td>
        <td valign='top' id='right'>
        </td>
    </tr>
</table>

<a href="page.cgi?id=scrums/createrelease.html&releaseid=[% release.id %]">back to release</a><br>

[% PROCESS global/footer.html.tmpl %]
