[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Visa Korhonen <visa.korhonen@symbio.com>
  #%]

[% PROCESS global/header.html.tmpl
    title = "Search for a user" 
%]

<script scripttype="text/javascript">
function select(userid, realname, login)
{
        // alert("Select: " + userid + " " + realname + " " + login);
        window.opener.document.forms['[% formname %]'].elements['[% formfieldprefix %]id'].value=userid;
        window.opener.document.forms['[% formname %]'].elements['[% formfieldprefix %]realname'].value=realname;
        window.opener.document.forms['[% formname %]'].elements['[% formfieldprefix %]login'].value=login;
        // alert("Select");
        [% IF submit %]
        // alert('Kutsutaan metodia submit');
        window.opener.document.forms['[% formname %]'].submit();
        [% END %]
        window.close();
        return false;
}
</script>

<!-- formname: [% formname %]
submit: [% submit %] -->

<!-- query: [% query %] -->

<form name="f" method="get" action="page.cgi">
<input type="hidden" name="id" value="scrums/searchperson.html" />
<input type="hidden" name="action" value="list" />
<input type="hidden" name="formname" value="[% formname %]" />
<input type="hidden" name="formfieldprefix" value="[% formfieldprefix %]" />
<input type="hidden" name="submit" value="[% submit %]" />
<p><label for="matchvalue">List users with</label>
<select id="matchvalue" name="matchvalue">
  <option value="login_name">login name</option>
  <option value="realname">real name</option>
  <option value="userid">user id</option>
</select>
<label for="matchstr">matching</label>
<input size="32" name="matchstr" id="matchstr" />
<select name="matchtype">
  <option value="substr" selected="selected">case-insensitive substring</option>
  <option value="regexp">case-insensitive regexp</option>
  <option value="notregexp">not (case-insensitive regexp)</option>
  <option value="exact">exact (find this user)</option>
</select>
<input type="submit" id="search" value="Search" /></p>

[% IF users %]
[% IF users.size > 0 %]
<table>
[% FOREACH thisuser = users %]
<tr>
[% IF thisuser.disabledtext %]
<td class="bz_inactive">
 [% thisuser.realname     %]
</td>
<td class="bz_inactive">
 [% thisuser.login_name   %]
</td>
[% ELSE %]
<td>
<a href="" onclick="return select('[% thisuser.userid %]', '[% thisuser.realname %]', '[% thisuser.login_name %]');">
 [% thisuser.realname %]
</a>
</td>
<td>
 [% thisuser.login_name   %]
</td>
[% END %]

</td></tr>
[% END %]
</table>
[% ELSE %]
No users found.
[% END %]
[% END %]

<!-- <input type="button" value="testaa" onClick="window.opener.document.forms['testiformi'].elements['testikentta'].value='Tulos';"/> -->

[% IF personlist %]
Search results: (max. 50 results)
[% END %]


</form>

<p>

