[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #  Eero Heino <eero.heino@nokia.com>
  #%]
[% PROCESS global/header.html.tmpl
    title = "Sprint Planning " _ team.name 
    style_urls = ['skins/standard/admin.css']
%]

<script>var SCRUMS_CONFIG = ([% scrums_config %]);</script>
<script src="extensions/Scrums/web/js/SprintPage.js"></script>

<style>
    th { text-align: right; }
    [name=sprintname] { width: 100%; }
    [name=description] { width: 100%; }
    [name=start_date] { width: 14ex; }
    [name=end_date] { width: 14ex; }
</style>


<div style="display: none;"> <!-- templates -->
    <form id="sprint_editor_template" action='page.cgi' method="post">
      <input type='hidden' name='id' value='scrums/ajaxsprintbugs.html' />
      <h3></h3>

      <table width="100%">
        <tr>
          <th>Sprint Name:</th>
          <td colspan="2"><input name="sprintname"></td>
        </tr>
        <tr>
          <th>Description:</th>
          <td colspan="2"><input size="40" name="description"></td>
        </tr>
        <tr>
          <th>Duration:</th>
          <td colspan="3">
             <input name="start_date" size="9"> -
             <input name="end_date" size="9">
          </td>
        <tr>
          <th>Person Capacity:</th>
          <td colspan="3" class="personcapacity">&nbsp;</td>
        </tr>
        <tr>
          <th>Estimated Capacity:</th>
          <td colspan="3">
            <input name="estimatedcapacity">
          </td>
        </tr>
        <tr>
          <th>Predictive Estimate:</th>
          <td colspan="3" class="sprint-estimate">
            &nbsp;
          </td>
        </tr>
        <tr>
          <th>Previous Sprint Summary:</th>
          <td colspan="3" class="sprint-history">
            &nbsp;
          </td>
        </tr>
        <tr><td colspan="4"></td></tr>
        <tr>
          <td colspan="4" align="right">
            <span class="edit-buttons">
                <input type="submit" value="Delete" name="deletesprint" />
                |
                <input type="submit" name="editsprint" value="Save" />
            </span>
            <span class="save-buttons">
                <input type="hidden" name="takebugs" />
                <input type="submit" name="newsprint" value="Create" />
            </span>
            <input type="button" value="Cancel" class="cancelEdit" />
          </td>
        </tr>
      </table>
    </form>
</div> <!-- templates -->

[% PROCESS pages/scrums/listcolumns.html.tmpl %]

<div class="bz_title_container">
  [% team.name %] Sprint
</div>

[% PROCESS pages/scrums/navi.html.tmpl %]

<p>
&nbsp;
</p>

<table width="100%">
  <tr valign="top">
    <td width="50%" align="center">
      <table border="1">
        <tr>
          <th>
            <form action="">
              <input type="hidden" value="scrums/teambugs.html" name="id" />
              <input type="hidden" value="[% team.id %]" name="teamid" />

         Sprint:
          </th>
          <td align="right">
        <select name="sprintid" onchange="SprintView.refreshSprint();" id="selected_sprint">
        [% IF active_sprint %]
          <option value="[% active_sprint.id() %]" selected="selected">
          *[% active_sprint.name() %]</option>
        [% END %]
          <option value="new_sprint">&#060; new sprint &#062;</option>
        </select>
      </form>
          </td>
  </tr>
  <tr>
    <th>
      Capacity Estimate:
    </th>
    <td align="right">
      <span id="capa">[% capacity.sprint_capacity %]</span>
    </td>
  </tr>

  <tr>
    <th>Work Done:</th>
    <td align="right">
      <span id="done">[% capacity.work_done %]</span>
    </td>
  </tr>

  <tr>
    <th>
      Remaining Work:
    </th>
    <td align="right">
      <span id="remaining">[% capacity.remaining_work %]</span>
    </td>
  </tr>

  <tr>
    <th>
      Estimated Free Capacity:
    </th>
    <td align="right">
      <span id="free">[% capacity.free_capacity %]</span>
      </td>
    </tr>

    <tr>
      <th>Duration:</th>
      <td id="sprint_info" colspan="2">
      </td>
    </tr>
    <tr>
      <td id="sprint_button" colspan="2" align="right">
      <input type="button" value="Edit Sprint" id="editSprintButton" />
      </td>
    </tr>
  </table>
</td>
<td width="50%" align="center">
  [% members = team.members() %]
  <table border="1">
    <tr>
      <th>
      Team Member
    </th>
    <th>
      Capacity Estimate
    </th>
    <th>
      Work In Sprint
    </th>
  </tr>
  [% FOREACH teammember IN members %]
    <tr>
      <td>
        [% teammember.name() %]
      </td>
      <td>
        <table>
          <tr id="[% teammember.userid %]_static">
            <td ondblclick="MemberCapacityEditor.open([% teammember.userid %]);">
              <span>
                <table>
                  <tr>
                    <td class="value">
                      [% active_sprint.get_member_capacity(teammember.userid) %]
                    </td>
                    <td>
                      <span class="ui-icon ui-icon-triangle-1-s" title="edit">
                      </span>
                    </td> 
                  </tr>
                </table>
              </span>
            </td>
          </tr>
          <tr id="[% teammember.userid %]_editable" style="visibility: collapse;">
            <td>
              <table>
                <tr>
                  <td>
                    <select>
                      <option value=0.00>0.00</option>
                      <option value=0.25>0.25</option>
                      <option value=0.50>0.50</option>
                      <option value=0.75>0.75</option>
                      <option value=1.00>1.00</option>
                    </select>
                  </td>
                  <td>
                    <span class="ui-icon ui-icon-arrowreturnthick-1-w"
                        title="cancel"
                        onclick="MemberCapacityEditor.close();"></span>
                  </td>
                  <td>
                    <span class="ui-icon ui-icon-check"
                        title="save"
                        onclick="MemberCapacityEditor.save();"></span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
      <td align="right">
        [% active_sprint.get_member_workload(teammember.userid) %]
      </td>
    </tr>
  [% END %]
      </table>
    </td>
  </tr>
</table>

<table class="dragcontainment" width="100%" cellpadding="5">
  <tr>
    <td valign="top" id="sprint" width="50%">
    </td>
    <td valign="top" id="unordered" width="50%">
    </td>
  </tr>

  <tr>
    <td colspan="2" align="right">
      <input type="button" class="scrums_wide_button" id="save_button" disabled="true" value="Save" onClick="save_all();" />
      <input type="button" class="toggle_scroll" value="Toggle Scroll Bars" onClick="toggle_scroll();" />
    </td>
  </tr>
</table>

<hr />

<p>
  <a href="page.cgi?id=scrums/createteam.html&teamid=[% team.id %]">Manage Team</a><br>
</p>

[% PROCESS global/footer.html.tmpl %]
