  .colA { min-width:190px; }
  .colB { min-width:100px; }
  .colC { min-width: 70px; }
  .colD { min-width: 60px; }
  .colE { min-width: 40px; }
  .colF { min-width: 15px; }
  .sortable table tr td { margin: 0px; padding: 0px; text-align: left; }
  .sortable { text-align: left; background: #eeeeee; }

  .sortable li { background: #eeeeee; margin: 5px; padding: 5px; width: 680px; }
  .disabled { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; background: #ffffff; padding: 5px; width: 700px; text-align: left; }
  .disabled li { background: #eeeeee; margin: 3px; padding: 5px; font-size: 1em; width: 680px; }
  .number { background: #eee; color: #000000; border: 1px solid #dddddd;  }

  div.content { 
    text-align: center; 
  }

  h3 { text-align: center; }

/* Setting the attributes of helper size does not work very well */

.helper td {
    border: 1px;
    background-color: #404d6c;
}


table.dataTable {
    margin: 0;
    padding: 0;
    border-collapse:separate;
    border-spacing:0px 0px;
}
table.dataTable th {
    background: none repeat scroll 0 0 #CCCCCC;
    border-top: 1px solid #999999;
    font-weight: bold;
    margin: 0;
    padding: 4px 3px 3px 4px;
}
table.dataTable td {
    position: relative;
    height: 35px;
    margin: 0;
    border-top: 1px solid #999999;
    padding: 2px 3px 3px 4px;
}
div.container {
    margin: 15px 0 0 0; 
}
div.scrollTableContainer {
    border: 1px solid #cccccc;
    height: 435px; 
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
} 
div.autoheightContainer {
    border: 1px solid #cccccc;
}

html > body div.scrollTableContainer table > thead {
    height: 20px;
} 
html > body div.scrollTableContainer table > tbody {
    height: 410px;
    overflow-x: hidden;
    overflow-y: auto;
}

div.scrollTableContainer thead tr {
    position: relative;
}
div.scrollTableContainer td:last-child {
    padding-right: 20px;
}

.bz_title_container 
{
    margin: 8px 0; 
    padding: 0.3em; 
    background-color: #D0D0D0; 
    -moz-border-radius: 0.5em; 
    font-size: 125%; 
    font-weight: bold; 
}

.scrums_limited_area td
{
    background-color: #D0D0D0; 
}

.scrums_limited_area td.first {
    border-left: 2px solid green;
}

table.linklist-big-icons img
{
    margin-bottom: 5px;
    margin-top:    5px;
    margin-left:   30px;
    border: 6px    solid;
    -moz-border-radius: 1.0em; 
}

input.scrums_wide_button { min-width:130px; }
