[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Visa Korhonen <visa.korhonen@symbio.com>
  #%]

</td></tr>
<tr id="[% bug.bug_id %]_[% column %]_editable" style="visibility: collapse"><td>

[% IF column == 'bug_severity' || column == 'priority' %]       
	[% PROCESS "bug/field.html.tmpl"
            bug = bug, field = select_fields.$column,
            override_legal_values = bug.choices.$column
            no_tds = 1, value = bug.$column
            editable = 1 %]
	&nbsp
        <a href="" onclick="checkIfEditedFieldChanged(); return false;">[done]</a>
[% ELSIF column == 'assigned_to' %]
        [% INCLUDE global/userselect.html.tmpl
            id => "assigned_to"
            name => "assigned_to"
            value => bug.assigned_to
            size => 30
        %]
	&nbsp
        <a href="" onclick="checkIfEditedFieldChanged(); return false;">[done]</a>
[% ELSIF column == 'estimated_time' %]
        <input name="estimated_time" id="estimated_time"
               value="[% PROCESS formattimeunit
                                 time_unit=bug.estimated_time %]"
               size="6" maxlength="6">
	&nbsp
	<a href="" onclick="checkIfEditedFieldChanged(); return false;">[done]</a>
[% ELSIF column == 'remaining_time' %]
<!-- Removed script onchange="updateRemainingTime();"> -->
        <input name="remaining_time" id="remaining_time"
               value="[% PROCESS formattimeunit
                                 time_unit=bug.remaining_time %]"
               size="6" maxlength="6">
	&nbsp
	<a href="" onclick="checkIfEditedFieldChanged(); return false;">[done]</a>
[% ELSE %]
Error
[% END %]

</td></tr>
</table> 

