<table>
[% IF column == 'bug_severity' ||
	column == 'priority' ||
	column == 'bug_status' ||
	column == 'assigned_to' ||
	column == 'estimated_time' ||
	column == 'remaining_time' %]
<tr id="[% bug.bug_id %]_[% column %]_static"><td border="1" ondblclick="makeeditable('[% bug.bug_id %]_[% column %]');">
[% ELSE %]
<tr><td ondblclick="alert('No editing');">
[% END %]	

