[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Eero Heino <eero.heino@nokia.com>
  #%]

<script type="text/JavaScript" src="extensions/Scrums/web/js/jquery/js/jquery-1.4.4.min.js"></script>
<script type="text/JavaScript" src="extensions/Scrums/web/js/jquery/js/jquery-ui-1.8.13.custom.min.js"></script>

<script type="text/javascript" src="extensions/Scrums/web/js/scrums.js"></script>
<link rel="stylesheet" href="extensions/Scrums/web/js/jquery/css/ui-lightness/jquery-ui-1.8.10.custom.css">

<style type="text/css">
  .colA { min-width:190px; }
  .colB { min-width:100px; }
  .colC { min-width: 70px; }
  .colD { min-width: 60px; }
  .colE { min-width: 40px; }
  .colF { min-width: 15px; }
  .sortable table tr td { margin: 0px; padding: 0px; text-align: left; }
  .sortable { text-align: left; background: #eeeeee; }

  .sortable li { background: #eeeeee; margin: 5px; padding: 5px; width: 680px; }
  .disabled { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; background: #ffffff; padding: 5px; width: 700px; text-align: left; }
  .disabled li { background: #eeeeee; margin: 3px; padding: 5px; font-size: 1em; width: 680px; }
  .number { background: #eee; color: #000000; border: 1px solid #dddddd;  }
  .content { text-align: center; }
  h3 { text-align: center; }

  .bz_title_container {
    margin: 8px 0; 
    padding: 0.3em; 
    background-color: rgb(208, 208, 208); 
    -moz-border-radius: 0.5em; 
    font-size: 125%; 
    font-weight: bold;
  }
</style>

<script id="ReleaseBugLiTmpl" type="text/html">
      <tr id="<#= bug[0] #>" bug_order_nr='<#= counter #>'>
        <td class="colF"><span class="number"><#= counter #></span></td>
        <td class="colD"><a href="show_bug.cgi?id=<#= bug[0] #>"><#= bug[0] #></a></td>
        <td class="colC"> <#= bug[1] #></td>
        <td class="colD"> <#= bug[2] #></td>
        <td class="colA"> <#= bug[3] #></td> 
        <td class="colB"> <a href="page.cgi?id=scrums/createteam.html&teamid=<#= bug[6] #>"><#= bug[4] #></a></td>
        <td> <a href="page.cgi?id=scrums/sprintburndown.html&sprintid=<#= bug[7] #>"><#= bug[5] #></a></td>
      </tr>
  </li>
</script>

<script id="TeamBugLiTmpl" type="text/html">
      <tr id="<#= bug[0] #>" bug_order_nr='<#= counter #>'>
        <td class="colF sortable"> <span class="number"><#= counter #></span></td>
        <td class="colD sortable"> <a href="show_bug.cgi?id=<#= bug[0] #>"><#= bug[0] #></a></td>
        <td class="colF sortable"> <#= bug[1] #></td>
        <td class="colC sortable"> <#= bug[2] #></td>
        <td class="colA sortable"> <#= bug[3] #></td>
        <td title="<#= bug[5] #>" class='sortable'> <#= bug[4] #></td>
      </tr>
</script>

<script id="BugLiTmpl" type="text/html">
  <li id="<#= bug[0] #>" bug_order_nr='<#= counter #>'><span class="number"><#= counter #></span> <span><a href="show_bug.cgi?id=<#= bug[0] #>"><#= bug[0] #></a> <#= bug[1] #> <#= bug[2] #> <#= bug[3] #> <#= bug[4] #></span></li>
</script>

<script id="ListTmpl" type="text/html">
  <h3 id="<#= list.h_id #>"><#= list.name #></h3>

  <div class='content'>
    <p>
      <input type='button' value='Previous' OnClick='move_list_left("<#= list.id #>");'/>
      <#= extra_middle #>

      <input type='button' value='Next' OnClick='move_list_right("<#= list.id #>");'/>

      Show
      <select id="<#= list.id #>" onchange='select_step("<#= list.id #>");'>
        <option selected="selected">10</option>
        <option>20</option>         
        <option>50</option>         
        <option>All</option>                                
      </select>
      (<span id='items_<#= list.id #>'></span>)
    </p>

    <table>
        <thead>
            <tr><th class='sortable'>Priority</th><th class='sortable' class="colF">[% field_descs.bug_id %]</th><th class='sortable' class="colF">[% field_descs.remaining_time %]</th><th class='sortable' class="colF">[% field_descs.bug_status %]</th><th class='sortable' class="colF">[% field_descs.assigned_to %]</th><th class='sortable' class="colF">[% field_descs.short_desc %]</th></tr>
        </thead>
        <tbody id="<#= list.ul_id #>" class="connectedSortable sortable">
        </tbody>
    </table>

  </div>
</script>

<script id="ReleaseListTmpl" type="text/html">
  <h3 id="<#= list.h_id #>"><#= list.name #></h3>

  <div class='content'>
    <p>
      <input type='button' value='Previous' OnClick='move_list_left("<#= list.id #>");'/>
      <#= extra_middle #>

      <input type='button' value='Next' OnClick='move_list_right("<#= list.id #>");'/>

      Show
      <select id="<#= list.id #>" onchange='select_step("<#= list.id #>");'>
        <option selected="selected">10</option>
        <option>20</option>         
        <option>50</option>         
        <option>All</option>                                
      </select>
      (<span id='items_<#= list.id #>'></span>)
    </p>

    <table>
        <thead>
            <tr><th class='sortable'>Priority</th><th class='sortable' class="colF">[% field_descs.bug_id %]</th><th class='sortable' class="colF">[% field_descs.bug_status %]</th><th class='sortable' class="colF">[% field_descs.bug_severity %]</th><th class='sortable' class="colF">[% field_descs.short_desc %]</th><th class='sortable' class="colF">Team</th><th class='sortable' class="colF">Sprint</th></tr>
        </thead>
        <tbody id="<#= list.ul_id #>" class="connectedSortable sortable">
        </tbody>
    </table>

  </div>
</script>

<script id="StaticTmpl" type="text/html">
<h3 id="<#= list.h_id #>"><#= list.name #></h3>
  <div class='content'>
    <p>
      <input type='button' value='Previous' OnClick='move_list_left("<#= list.id #>");'/>
      <#= extra_middle #>
      <input type='button' value='Next' OnClick='move_list_right("<#= list.id #>");'/>
      Show
      <select id="<#= list.id #>" onchange='select_step("<#= list.id #>");'>
        <option selected="selected">10</option>
        <option>20</option>         
        <option>50</option>         
        <option>All</option>                                
      </select>
    </p>

    <table>
        <tbody id="<#= list.ul_id #>" class="connectedSortable sortable">
        </tbody>
    </table>

    <br><a href="page.cgi?id=scrums/sprintburndown.html&sprintid=<#= list.id #>">Burndown Chart</a><br>
  </div>
</script>
