[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Eero Heino <eero.heino@nokia.com>
  #%]

<script id="ReleaseBugLiTmpl" type="text/html">
      <tr id="<#= bug[0][0] #>" bug_order_nr='<#= counter #>'>
        <# if ($.inArray('order', show_columns) > -1) { #>
        <td class="colF"><span class="number"><#= counter #></span></td>
        <# } #>
        <# if ($.inArray('creation_date', show_columns) > -1) { #>
            <td class='sortable'><#= bug[6] #></td>
        <# } #>
        <td class="colD"><#= bug[0][1] #></td>
        <td class="colC"> <#= bug[1] #></td>
        <td class="colD"> <#= bug[2] #></td>
        <td class="colA"> <#= bug[3] #></td> 
        <# if ($.inArray('severity', show_columns) > -1) { #>
            <td class="colA sortable"> <#= bug[7] #></td>
        <# } #>
        <td class="colB"> <a href="page.cgi?id=scrums/createteam.html&teamid=<#= bug[6] #>"><#= bug[4] #></a></td>
        <td> <a href="page.cgi?id=scrums/sprintburndown.html&sprintid=<#= bug[7] #>"><#= bug[5] #></a></td>
      </tr>
</script>

<script id="TeamBugTmpl" type="text/html">
        <# if (bug[10]) { #>
      <tr id="<#= bug[0][0] #>" class="scrums_limited_area" bug_order_nr='<#= counter #>'>
        <# } else { #>
      <tr id="<#= bug[0][0] #>" bug_order_nr='<#= counter #>'>
        <# } #>
        <# if ($.inArray('order', show_columns) > -1) { #>
        <td class="colF sortable first"> <span class="number"><#= counter #></span></td>
        <# } #>
        <# if ($.inArray('bug_id', show_columns) > -1) { #>
        <td class="colD sortable"><#= bug[0][1] #></td>
        <# } #>
        <# if ($.inArray('points', show_columns) > -1) { #>
        <td class="colF sortable"><#= bug[1] #></td>
        <# } #>
        <# if ($.inArray('status', show_columns) > -1) { #>
        <td class="colC sortable"><#= bug[2] #></td>
        <# } #>
        <# if ($.inArray('assigned', show_columns) > -1) { #>
        <td class="colA sortable"><#= bug[3] #></td>
        <# } #>
        <# if ($.inArray('severity', show_columns) > -1) { #>
            <td class="colA sortable"> <#= bug[7] #></td>
        <# } #>
        <# if ($.inArray('summary', show_columns) > -1) { #>
        <td title="<#= bug[5] #>" class='sortable'> <#= bug[5] #></td>
        <# } #>
        <# if ($.inArray('creation_date', show_columns) > -1) { #>
            <td class='sortable'><#= bug[6] #></td>
        <# } #>
      </tr>
</script>

<script id="BugLiTmpl" type="text/html">
  <li id="<#= bug[0] #>" bug_order_nr='<#= counter #>'><span class="number"><#= counter #></span> <span><a href="show_bug.cgi?id=<#= bug[0] #>"><#= bug[0] #></a> <#= bug[1] #> <#= bug[2] #> <#= bug[3] #> <#= bug[4] #></span></li>
</script>

<script id="ListTmpl" type="text/html">
  <h3 id="<#= list.h_id #>"><a href="<#= list.link_url #>"><#= list.name #> (<span id='items_<#= list.id #>'></span>)</a></h3>

  <div class='content' >
    <div class='scrollTableContainer' id='container'>
      <table class="dataTable" id="table<#= list.ul_id #>">
        <thead id="mythead">
          <tr>
            <# if ($.inArray('order', list.show_columns) > -1) { #>
            <th class="sortable">#</th>
            <# } #>
            <# if ($.inArray('bug_id', list.show_columns) > -1) { #>
            <th class="sortable colF">[% field_descs.bug_id %]</th>
            <# } #>
            <# if ($.inArray('points', list.show_columns) > -1) { #>
            <th class="sortable colF">[% field_descs.remaining_time %]</th>
            <# } #>
            <# if ($.inArray('status', list.show_columns) > -1) { #>
            <th class="sortable colF">[% field_descs.bug_status %]</th>
            <# } #>
            <# if ($.inArray('assigned', list.show_columns) > -1) { #>
            <th class="sortable colF">[% field_descs.assigned_to %]</th>
            <# } #>
            <# if ($.inArray('severity', list.show_columns) > -1) { #>
            <th class="sortable colF">[% field_descs.bug_severity %]</th>
            <# } #>
            <# if ($.inArray('summary', list.show_columns) > -1) { #>
            <th class="sortable colF">[% field_descs.short_desc %]</th>
            <# } #>
            <# if ($.inArray('creation_date', list.show_columns) > -1) { #>
            <th class='sortable'>[% field_descs.creation_ts %]</th>
            <# } #>
          </tr>
        </thead>
        <tbody id="<#= list.ul_id #>" class="connectedSortable sortable">
        </tbody>
      </table>
    </div>
  </div>
</script>

<script type='text/javascript'>
function parseHashTemplate(id, attrs)
{
    return parseTemplate($('#'+id).html(), attrs);
}
</script>

<script id="ArchiveListTmpl" type="text/html">
<# print(parseHashTemplate('ListTmpl', { list: list })); #>
<a href="page.cgi?id=scrums/sprintburndown.html&#038;sprintid=<#= list.id #>">Burndown Chart</a>
</script>

<script id="ReleaseListTmpl" type="text/html">
  <h3 id="<#= list.h_id #>"><#= list.name #></h3>

  <div class='content'>
    <p>
      <input type='button' value='Previous' OnClick='move_list_left("<#= list.id #>");'/>
      <#= extra_middle #>

      <input type='button' value='Next' OnClick='move_list_right("<#= list.id #>");'/>

      Show
      <select id="<#= list.id #>" onchange='select_step("<#= list.id #>");'>
        <option>10</option>
        <option selected="selected">20</option>         
        <option>50</option>         
        <option>All</option>                                
      </select>
      (<span id='items_<#= list.id #>'></span>)
    </p>

    <table class="dataTable">
      <thead>
        <tr><th class='sortable'>Priority</th><th class='sortable' class="colF">[% field_descs.bug_id %]</th><th class='sortable' class="colF">[% field_descs.bug_status %]</th><th class='sortable' class="colF">[% field_descs.bug_severity %]</th><th class='sortable' class="colF">[% field_descs.short_desc %]</th><th class='sortable' class="colF">Team</th><th class='sortable' class="colF">Sprint</th></tr>
      </thead>
      <tbody id="<#= list.ul_id #>" class="connectedSortable sortable">
      </tbody>
    </table>

  </div>
</script>

<script id="StaticTmpl" type="text/html">
  <h3 id="<#= list.h_id #>"><#= list.name #></h3>

  <div class='content'>
    <p>
      <input type='button' value='Previous' OnClick='move_list_left("<#= list.id #>");'/>
      <#= extra_middle #>
      <input type='button' value='Next' OnClick='move_list_right("<#= list.id #>");'/>
      Show
      <select id="<#= list.id #>" onchange='select_step("<#= list.id #>");'>
        <option selected="selected">10</option>
        <option>20</option>         
        <option>50</option>         
        <option>All</option>                                
      </select>
    </p>

    <table>
      <tbody id="<#= list.ul_id #>" class="connectedSortable sortable">
      </tbody>
    </table>

    <br />

    <a href="page.cgi?id=scrums/sprintburndown.html&sprintid=<#= list.id #>">Burndown Chart</a><br>
  </div>
</script>
