[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Visa Korhonen <visa.korhonen@symbio.com>
  #%]
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML
><HEAD

><style>
<!--
p { max-width: 1000px; }
-->
</style

><TITLE
>Daily tasks</TITLE
><META
NAME="GENERATOR"
CONTENT="Modular DocBook HTML Stylesheet Version 1.79"><LINK
REL="HOME"
TITLE="The Scrums Bugzilla extension"
HREF="index.html"><LINK
REL="UP"
TITLE="Using Scrums"
HREF="scrumsguide.html"></HEAD
><BODY
CLASS="section"
BGCOLOR="#FFFFFF"
TEXT="#000000"
LINK="#0000FF"
VLINK="#840084"
ALINK="#0000FF"
><DIV
CLASS="NAVHEADER"
><TABLE
SUMMARY="Header navigation table"
WIDTH="100%"
BORDER="0"
CELLPADDING="0"
CELLSPACING="0"
><TR
><TH
COLSPAN="3"
ALIGN="center"
>The Bugzilla Guide</TH
></TR
><TR
><TD
WIDTH="80%"
ALIGN="center"
VALIGN="bottom"
>Using Scrums-extension</TD
></TR
></TABLE
><HR
ALIGN="LEFT"
WIDTH="100%"></DIV>

<!---------------------------------------------------------------------------------------------------------------------------------------->

<H2
CLASS="section"
><A
NAME="dailytasks"
>1.5. Team's daily tasks</A
</H2

><H3>Active sprint tasks</H3
><P>
View consists of list of items. List contains all items in active sprint, that are currently open. As long as items are open,
they remain visible in list.
</P
><i
><H4>Using InlineEditor-extension in combination of item list</H4
><P>
InlineEditor is stand-alone extension. It is utility, that can be used in combination with Scrums-extension.
InlineEditor enhances Active sprint tasks-view. It makes each item in list editable, so that user does not need
to open each item individually, but can edit all items in list in same page.
</P
><P>
Fields, that are possible to edit in list with InlineEditor-extension, are bug_severity, priority, assigned_to, estimated_time and remaining_time. System administrator can choose, which fields are allowed to be edited in item list, by setting parameter inline_editor_bug_list_editable_fields. Only estimated_time is selected by default.
</P
><P>
Item field 'assigned to' is handled in a special way, when item is edited in list. If item is in state new, it's assignee is hidden and empty marking '--' is shown instead. Because item is in state new, it is considered unassigned and assignee is hidden. When user starts to edit field, he has only one choice to choose from. He can only assign item to himself. If new item has been assigned to user in first place, assignee is shown in new item. This behavior of 'assigned to' -fields requires, that field is editable in item list. If the field is not editable, assignee is shown also, when item is in state new.
</P
></i

><H3>New bugs</H3
><P>
View consists of two lists of items. Sprint list contains all items in sprint. Shown sprint is currently active sprint, that
team has, since team can have only one active sprint simultaneously.
</P
><P>
'Unordered bugs'-list contains any open bug, that belongs to team, but which has not been taken into other lists.
It is notable, that bugs are only items, that are visible in this list in daily planning page. Items, that are not bugs, do
not belong to daily planning. Purpose of unordered bugs in daily planning is, that team can pick bugs into
it's own work flow autonomously.
</P
><P>
Bugs are taken into sprint by dragging lines from one list to another. Order of items in sprint is also saved and
items can be sorted. 
Bugs can be also moved in opposite direction from sprint to unordered.
Order of items is changed by sorting with mouse. Item is selected with mouse and dragged into new position in list or other list. In the end item is dropped into new place by releasing.
</P>

<!---------------------------------------------------------------------------------------------------------------------------------------->

<DIV
CLASS="NAVFOOTER"
><HR
ALIGN="LEFT"
WIDTH="100%"><TABLE
SUMMARY="Footer navigation table"
WIDTH="100%"
BORDER="0"
CELLPADDING="0"
CELLSPACING="0"

><TR
><TD
WIDTH="33%"
ALIGN="left"
VALIGN="top"
><A
HREF="page.cgi?id=scrums/guide/teamplan.html"
ACCESSKEY="P"
>Previous</A
</TD

><TD
WIDTH="34%"
ALIGN="center"
VALIGN="top"
><A
HREF="page.cgi?id=scrums/guide/scrumsguide.html"
ACCESSKEY="H"
>Scrums Home</A
></TD

><TD
WIDTH="33%"
ALIGN="right"
VALIGN="top"
><A
HREF="page.cgi?id=scrums/guide/releaseview.html"
ACCESSKEY="N"
>Next</A
></TD
></TR

><TR
><TD
WIDTH="33%"
ALIGN="left"
VALIGN="top"
>Team's planning views</TD
><TD
WIDTH="34%"
ALIGN="center"
VALIGN="top"
>&nbsp;
</TD
><TD
WIDTH="33%"
ALIGN="right"
VALIGN="top"
>Release viewpoint</TD
></TR

></TABLE
></DIV
></BODY
></HTML
>
