[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Visa Korhonen <visa.korhonen@symbio.com>
  #%]
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML
><HEAD

><style>
<!--
p { max-width: 1000px; }
-->
</style

><TITLE
>Scrums permissions</TITLE
><META
NAME="GENERATOR"
CONTENT="Modular DocBook HTML Stylesheet Version 1.79"><LINK
REL="HOME"
TITLE="The Scrums Bugzilla extension"
HREF="index.html"><LINK
REL="UP"
TITLE="Using Scrums"
HREF="scrumsguide.html"></HEAD
><BODY
CLASS="section"
BGCOLOR="#FFFFFF"
TEXT="#000000"
LINK="#0000FF"
VLINK="#840084"
ALINK="#0000FF"
><DIV
CLASS="NAVHEADER"
><TABLE
SUMMARY="Header navigation table"
WIDTH="100%"
BORDER="0"
CELLPADDING="0"
CELLSPACING="0"
><TR
><TH
COLSPAN="3"
ALIGN="center"
>The Bugzilla Guide</TH
></TR
><TR
><TD
WIDTH="80%"
ALIGN="center"
VALIGN="bottom"
>Using Scrums-extension</TD
></TR
></TABLE
><HR
ALIGN="LEFT"
WIDTH="100%"></DIV>

<!---------------------------------------------------------------------------------------------------------------------------------------->

<DIV
CLASS="section"
><H2
CLASS="section"
><A
NAME="permissionsettings"
>3. Permissions</A
></H2
><P
>&#13;      This is a purely informative page which outlines your current
      permissions on Scrums extension.
</P
><P
>&#13;      A complete list of permissions is below. Only users with 
      <EM
>'editusers'</EM
> privileges can change the permissions 
      of other users.
      </P
><P
></P>
</DIV
><DIV
CLASS="variablelist"
><DL
><DT
>admin</DT
><DD
><P
> 
             Administrator can create new teams and delete existing teams.
            </P
></DD
><DT
>scrums_editteams</DT
><DD
><P
> 
             Indicates user can edit team information including component responsibilities and team members.<br> 
                User can also edit backlog, create a new sprint and edit content and information of an existing sprint.
            </P
></DD

><DT
>team owner</DT
><DD
><P
> 
             This user role is set in team information and it is set into each team separately. 
                Owner of one team is not granted any rights into any other team.
                Indicates that user can edit backlog and create and edit sprint.
            </P
></DD

><DT
>scrum master</DT
><DD
><P
> 
                This user role is set in team information and it is set into each team separately. 
                Scrum master of one team is not granted any rights into any other team.
             Indicates that user can create a new sprint and edit existing sprint.
            </P
></DD

><DT
>team member</DT
><DD
><P
> 
             This user role is set in team information and it is set into each team separately. 
                Team member of one team is not granted any rights into any other team.
             Indicates that user can edit content of existing sprint.
            </P
></DD

><DT
>release manager</DT
><DD
><P
> 
             Indicates that user can create a new release and edit an existing release.
                User can also sort item order in release and add and remove flag types from release. 
            </P
></DD

></DL
></DIV>

All users are allowed to view team list and individual teams, view daily team planning and view releases.

<!---------------------------------------------------------------------------------------------------------------------------------------->

<DIV
CLASS="NAVFOOTER"
><HR
ALIGN="LEFT"
WIDTH="100%"><TABLE
SUMMARY="Footer navigation table"
WIDTH="100%"
BORDER="0"
CELLPADDING="0"
CELLSPACING="0"

><TR
><TD
WIDTH="33%"
ALIGN="left"
VALIGN="top"
><A
HREF="page.cgi?id=scrums/guide/releaseview.html"
ACCESSKEY="P"
>Previous</A
></TD

><TD
WIDTH="34%"
ALIGN="center"
VALIGN="top"
><A
HREF="page.cgi?id=scrums/guide/scrumsguide.html"
ACCESSKEY="H"
>Scrums Home</A
></TD

><TD
WIDTH="33%"
ALIGN="right"
VALIGN="top"
>&nbsp;</TD
></TR

><TR
><TD
WIDTH="33%"
ALIGN="left"
VALIGN="top"
>Release viewpoint</TD
><TD
WIDTH="34%"
ALIGN="center"
VALIGN="top"
>&nbsp;
</TD
><TD
WIDTH="33%"
ALIGN="right"
VALIGN="top"
>&nbsp;</TD
></TR

></TABLE
></DIV
></BODY
></HTML
>
