[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Visa Korhonen <visa.korhonen@symbio.com>
  #%]
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML
><HEAD

><style>
<!--
p { max-width: 1000px; }
-->
</style

><TITLE
>Releases</TITLE
><META
NAME="GENERATOR"
CONTENT="Modular DocBook HTML Stylesheet Version 1.79"><LINK
REL="HOME"
TITLE="The Scrums Bugzilla extension"
HREF="index.html"><LINK
REL="UP"
TITLE="Using Scrums"
HREF="scrumsguide.html"></HEAD
><BODY
CLASS="section"
BGCOLOR="#FFFFFF"
TEXT="#000000"
LINK="#0000FF"
VLINK="#840084"
ALINK="#0000FF"
><DIV
CLASS="NAVHEADER"
><TABLE
SUMMARY="Header navigation table"
WIDTH="100%"
BORDER="0"
CELLPADDING="0"
CELLSPACING="0"
><TR
><TH
COLSPAN="3"
ALIGN="center"
>The Bugzilla Guide</TH
></TR
><TR
><TD
WIDTH="80%"
ALIGN="center"
VALIGN="bottom"
>Using Scrums-extension</TD
></TR
></TABLE
><HR
ALIGN="LEFT"
WIDTH="100%"></DIV>

<!---------------------------------------------------------------------------------------------------------------------------------------->

<DIV
CLASS="section"
><H2
CLASS="section"
><A
NAME="releaseviewpoint"
>2. Release viewpoint</A
></H2
><H2
CLASS="section"
>2.1. Purpose
</H2
><P
>&#13;        This viewpoint allows you to look at items in Bugzilla from release point of view.
It supports planning content and priorities of a release.
      </P
><H2
CLASS="section"
>2.2. Release
</H2
><P>Release is a whole, that builds around collection of items. 
</P
><H2
CLASS="section"
>2.3. Administering releases
</H2
><P>
Releases main page shows table of all releases. It is possible to create a new release in main page.
Clicking any individual release shows information of release.
</P
><P>
Release information page shows basic information of a release and also flag types, that are marked into release.
Any information can be edited in release information page. Release planning page can be accessed from release information page.
</P

><H2
CLASS="section"
><A
NAME="releaseplanning"
>2.4. Release planning view</A
</H2
><P>
View consists of two lists of items. 'Unordered bugs'-list contains all items, that belong to release, but which
have not been taken into sorted list of items. 'Bug order'-list contains items, that have been sorted by priority in release.
</P
><P>
Bugs are taken into 'bug order' by dragging lines from one list to another. Order of items in 'bug order' is also saved and
items can be sorted. 
Bugs can be also moved in opposite direction from ordered to unordered. 
Order of items is changed by sorting with mouse. Item is selected with mouse and dragged into new position in list or other list. 
In the end item is dropped into new place by releasing.
</P
><P>
Release planning view provides link to teams with fields 'team' and 'sprint', that are shown for each item. Both fields are links to
respective entities in Scrums. If item has not been included into any sprint, sprint-field is empty. 
</P>
</DIV>

<!---------------------------------------------------------------------------------------------------------------------------------------->

<DIV
CLASS="NAVFOOTER"
><HR
ALIGN="LEFT"
WIDTH="100%"><TABLE
SUMMARY="Footer navigation table"
WIDTH="100%"
BORDER="0"
CELLPADDING="0"
CELLSPACING="0"

><TR
><TD
WIDTH="33%"
ALIGN="left"
VALIGN="top"
><A
HREF="page.cgi?id=scrums/guide/dailyteam.html"
ACCESSKEY="P"
>Previous</A

</TD

><TD
WIDTH="34%"
ALIGN="center"
VALIGN="top"
><A
HREF="page.cgi?id=scrums/guide/scrumsguide.html"
ACCESSKEY="H"
>Scrums Home</A
></TD

><TD
WIDTH="33%"
ALIGN="right"
VALIGN="top"
><A
HREF="page.cgi?id=scrums/guide/permissions.html"
ACCESSKEY="N"
>Next</A
></TD
></TR

><TR
><TD
WIDTH="33%"
ALIGN="left"
VALIGN="top"
>Team's daily tasks</TD
><TD
WIDTH="34%"
ALIGN="center"
VALIGN="top"
>&nbsp;
</TD
><TD
WIDTH="33%"
ALIGN="right"
VALIGN="top"
>Permissions</TD
></TR

></TABLE
></DIV
></BODY
></HTML
>
