[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Visa Korhonen <visa.korhonen@symbio.com>
  #%]
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML
><HEAD

><style>
<!--
p { max-width: 1000px; }
-->
</style

><TITLE
>Scrums</TITLE
><META
NAME="GENERATOR"
CONTENT="Modular DocBook HTML Stylesheet Version 1.79"><LINK
REL="HOME"
TITLE="The Scrums Bugzilla extension"
HREF="index.html"><LINK
REL="UP"
TITLE="Using Scrums"
HREF="scrumsguide.html"></HEAD
><BODY
CLASS="section"
BGCOLOR="#FFFFFF"
TEXT="#000000"
LINK="#0000FF"
VLINK="#840084"
ALINK="#0000FF"
><DIV
CLASS="NAVHEADER"
><TABLE
SUMMARY="Header navigation table"
WIDTH="100%"
BORDER="0"
CELLPADDING="0"
CELLSPACING="0"
><TR
><TH
COLSPAN="3"
ALIGN="center"
>The Bugzilla Guide</TH
></TR
><TR
><TD
WIDTH="80%"
ALIGN="center"
VALIGN="bottom"
>Using Scrums-extension</TD
></TR
></TABLE
><HR
ALIGN="LEFT"
WIDTH="100%"></DIV>

<!---------------------------------------------------------------------------------------------------------------------------------------->

<H1
CLASS="section"
><A
NAME="scrumsextension"
>Scrums extension</A
></H1

><DIV
CLASS="TOC"
><DL
><DT
><B
>Table of Contents</B
></DT

><DT
>1. <A
HREF="page.cgi?id=scrums/guide/teamview.html"
>Team viewpoint</A>
</DT
><DD
><DL
><DT>
1.1. Purpose
</DT
><DT>
1.2. Team
</DT
><DT>
1.3. Adminitering teams
</DT
><DT>
1.4. <A
HREF="page.cgi?id=scrums/guide/teamplan.html"
>Team's planning views</A
</DT
><DD
><DL
><DT>
Steps of planning
</DT
><DT>
Team product back-log planning
</DT
><DT>
Sprint planning
</DT
><DT>
Sprint burndown chart
</DT
><DT>
Archived sprints
</DT>
</DL

><DT>
1.5. <A
HREF="page.cgi?id=scrums/guide/dailyteam.html"
>Team's daily tasks</A
</DT
><DD
><DL
><DT>
Active sprint tasks
</DT
><DT>
Using InlineEditor-extension in combination of item list
</DT
><DT>
New bugs
</DT>

</DD>
</DL>

</DD>
</DL

><DT>

2. <A
HREF="page.cgi?id=scrums/guide/releaseview.html"
>Release viewpoint</A>
</DT
><DD
><DL
><DT>
2.1. Purpose
</DT
><DT>
2.2. Release
</DT
><DT>
2.3. Administering releases
</DT
><DT>
2.4. Release planning view
</DT>
</DL>
</DD
><DT>
3. <A
HREF="page.cgi?id=scrums/guide/permissions.html"
>Permissions</A>
</DT>
</DL>
</DD>

</DIV

><hr
><DIV
CLASS="section"
><P
>&#13;    Scrums-extension allows you to have holistic view into items in Bugzilla.
Viewpoints are of two types, release and team.</P
><P>Scrums-extension has the purpose of supporting agile software development methods.</P
</DIV>

<!---------------------------------------------------------------------------------------------------------------------------------------->

<DIV
CLASS="NAVFOOTER"
><HR
ALIGN="LEFT"
WIDTH="100%"><TABLE
SUMMARY="Footer navigation table"
WIDTH="100%"
BORDER="0"
CELLPADDING="0"
CELLSPACING="0"
><TR
><TD
WIDTH="34%"
ALIGN="center"
VALIGN="top"
><A
HREF="docs/en/html/using.html"
ACCESSKEY="U"
>Bugzilla User's guide</A
></TD
></TR
></TABLE
></DIV
></BODY
></HTML
>
