[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Scrums Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is "Nokia Corporation"
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Visa Korhonen <visa.korhonen@symbio.com>
  #%]
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML
><HEAD

><style>
<!--
p { max-width: 1000px; }
-->
</style

><TITLE
>Team view</TITLE
><META
NAME="GENERATOR"
CONTENT="Modular DocBook HTML Stylesheet Version 1.79"><LINK
REL="HOME"
TITLE="The Scrums Bugzilla extension"
HREF="index.html"><LINK
REL="UP"
TITLE="Using Scrums"
HREF="scrumsguide.html"></HEAD
><BODY
CLASS="section"
BGCOLOR="#FFFFFF"
TEXT="#000000"
LINK="#0000FF"
VLINK="#840084"
ALINK="#0000FF"
><DIV
CLASS="NAVHEADER"
><TABLE
SUMMARY="Header navigation table"
WIDTH="100%"
BORDER="0"
CELLPADDING="0"
CELLSPACING="0"
><TR
><TH
COLSPAN="3"
ALIGN="center"
>The Bugzilla Guide</TH
></TR
><TR
><TD
WIDTH="80%"
ALIGN="center"
VALIGN="bottom"
>Using Scrums-extension</TD
></TR
></TABLE
><HR
ALIGN="LEFT"
WIDTH="100%"></DIV>

<!---------------------------------------------------------------------------------------------------------------------------------------->

<DIV
CLASS="section"
><H2
CLASS="section"
><A
NAME="teamviewpoint"
>1. Team viewpoint</A
></H2
><H2
CLASS="section"
>1.1. Purpose
</H2
><P
>&#13;        This viewpoint allows you to look at items in Bugzilla from team point of view.
It supports planning activities of team.
      </P
><H2
CLASS="section"
>1.2. Team
</H2
><P>Team is a whole, that builds around components. Team has responsibility for one or several components.
Dedicating components to teams fixes also bugs and other items, that have been recorded to component, to team.
Bugzilla users can be nominated as members of teams.
</P
><H2
CLASS="section"
>1.3. Administering teams
</H2
><P>
Teams main page shows table of all teams. It is possible to create a new team in main page.
</P
><P>
Teams are shown as a table, which can be sorted by any of it's columns by clicking column header.
Clicking any individual team shows information of team.
</P
><P>
Team information page shows basic information of a team and also components, that team is responsible, and team members.
Any information can be edited in team information page. Team planning pages and pages for team daily activities can be selected from team information page.
There are two pages for daily activities:
</P
><UL
COMPACT="COMPACT"
><LI
><P
>&#13;            Active sprint tasks
          </P
></LI
><LI
><P
>&#13;            New bugs
          </P
></LI
></UL
><P>
There are four different planning pages for team:
</P
><UL
COMPACT="COMPACT"
><LI
><P
>&#13;            Sprint burn-down chart
          </P
></LI
><LI
><P
>&#13;            Sprint planning 
          </P
></LI
><LI
><P
>&#13;            Team product back-log
          </P
></LI
><LI
><P
>&#13;            Archived sprints
          </P
></LI
></UL
></DIV>

<!---------------------------------------------------------------------------------------------------------------------------------------->

<DIV
CLASS="NAVFOOTER"
><HR
ALIGN="LEFT"
WIDTH="100%"><TABLE
SUMMARY="Footer navigation table"
WIDTH="100%"
BORDER="0"
CELLPADDING="0"
CELLSPACING="0"

><TR
><TD
WIDTH="33%"
ALIGN="left"
VALIGN="top"
>&nbsp;
</TD

><TD
WIDTH="34%"
ALIGN="center"
VALIGN="top"
><A
HREF="page.cgi?id=scrums/guide/scrumsguide.html"
ACCESSKEY="H"
>Scrums Home</A
></TD

><TD
WIDTH="33%"
ALIGN="right"
VALIGN="top"
><A
HREF="page.cgi?id=scrums/guide/teamplan.html"
ACCESSKEY="N"
>Next</A
></TD
></TR

><TR
><TD
WIDTH="33%"
ALIGN="left"
VALIGN="top"
>&nbsp;</TD
><TD
WIDTH="34%"
ALIGN="center"
VALIGN="top"
>&nbsp;
</TD
><TD
WIDTH="33%"
ALIGN="right"
VALIGN="top"
>Team's planning views</TD
></TR

></TABLE
></DIV
></BODY
></HTML
>
